<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741118982258-kmi3uts50og8ul8rtk7mk08f7ji38c93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741118982258-kmi3uts50og8ul8rtk7mk08f7ji38c93</string>
	<key>API_KEY</key>
	<string>AIzaSyBULUx6nhZJ9oPrMkeThoD8H3ipD0pbAYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>741118982258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>flutter-996e3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-996e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741118982258:ios:7ea19817eff0edde09aaeb</string>
</dict>
</plist>